.footer{
    min-height: 300px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    .arrow{
        padding: 1% 0;
        button{
            background: none;
            border: none;
        }
        button:focus{
            outline: 0;
        }
        button:hover{
            cursor: pointer;
        }
    }
    .footerNavigation{
        width: 100%;
        margin: 2rem 0rem;
        text-align: center;
        p{
            color: white;
            font-size: 2vw;
            font-family: Helvetica-light;
        }
    }
    
    .footerContent{
        display: flex;    //if you want the columns in one side
        justify-content: center;
        // margin-left: 10%;
    
        //margin-right: 10%;
        //margin-top: 7%;
    }
    
    .footerContentItem {
        text-align: center;
        margin: 0 auto;
        //font-family: 'Muli', Avenir, Helvetica Neue, Helvetica, sans-serif;
    }
    
    .footerContentItem a{
        font-size: 1.5vw;
        font-family: Helvetica-regular;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #ffffff;
    }
    
    .footerContentItem ul{
        list-style: none;
        padding: 0;
        text-align: center;
        font-size: 20px;
    }
    
    .footerContentItem li{
    
        a {
            text-decoration:none;
            margin-bottom: 10px;
            font-size: 1vw;
            //font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
        }
    }
    
    .footerBottom{
        //font-size: 14px;
        display: flex;
        margin-top: 70px;
        min-height: 35%;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        .footerSpacer{
            flex: 1;
        }
        
        .copyright{
            color: #ffffff;
            margin-top: 1.6%;
            margin-right: 2.5%;
            //padding: 0 2rem;
            font-size: 1.2rem;
        }
    }
    
}



