.footerMobile{
    min-height: 300px;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;

    .arrow{
        // background-color: red;
        padding: 2% 0;
    }
    .footeNavigation{
        width: 100%;
        margin: 2rem 0rem;
        .footerTitle{
            font-size: 5vw;
        }
        .footerContent{
            padding-top: 5%;
            padding-left: 5%;
            padding-right: 2%;
            justify-content: center;
            display: flex;
            width: 90%;
            .footerContentColumn1{
                display: flex;    //if you want the columns in one side
                flex-direction: column;
                width: 50%;
            }
        
            .footerContentColumn1{
                display: flex;    //if you want the columns in one side
                flex-direction: column;
                // margin-left: 4%;
            }
        }
        
        .footerContentItem {
            text-align: left;
            margin-bottom: 15%;
            a{
                font-family: Helvetica-regular;
                font-size: 3.8vw;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1px;
                color: #ffffff;
            }
            ul{
                margin-top: 1%;
                list-style: none;
                padding: 0;
                text-align: left;
                font-size: 20px;
                margin-bottom: 10%;
            }
            li{
                margin-bottom: 2%;
                a{
                    text-decoration:none;
                    font-size: 3.1vw;
                    font-family: Helvetica-regular;
                    //font-size: 20px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #d1d1d1;
                }
            }
        }
        
        .footerBottom{
            //font-size: 14px;
            // height: 100%;
            display: flex;
            position: absolute;
            // top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // min-height: 15%;
            border-top: 1px solid rgba(255, 255, 255, 0.4);
            text-align: right;
            padding: 0 1.5rem;
            align-content: center;
            // background-color: red;
            .footerSpacer{
                flex: 1;
            }
            .copyrightMobile{
                color: #d1d1d1;
                font-family: Helvetica-regular;
                // margin-top: 2.6%;
                //margin-right: 2.5%;
                padding: 1rem 0;
                width: 100%;
                font-size: 3vw;
            }
        }
    }
}








