
.headerScroll{
    //z-index: 5;
    box-shadow: 0px 2px 5px rgba(145, 145, 145, 0.26);
    width: 100%;
    position: fixed;    //if we change position we can make the toolbar separated from the landing, use static
    background-color: #00000075;
    height: 20%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    //overflow: hidden;
    border-bottom-color: rgba(0, 0, 0, 0.356);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    transition: all ease-in-out .5s;
    

}

.inactive {
    transition: all 1s ease;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
}
.header__navigation {
    height: 60%;
    position: relative;
    // background-color: red;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // // padding-top: 0.6%;
    // // padding-left: 1.6%;
    // // padding-right: 1.6%;
    // width: 100%;
    .searchBar__wrapper {
        // background-color: red;
        width: 50%;
        height: 23%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: block;
        float: center;
        justify-content: center;
        // padding-top: 0.2%;
        .logo__top{
            width: 8.3vw;
        }
    }
    .header__spacer {
        flex: 1;
    }
    .header__navlinks {
            .links__wrapper{
                display: flex;
                a {
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    font-size: 1.4vw;
                }
                .link__separator {
                    color: rgba(255, 255, 255, 0);
                    background-color: rgb(255, 255, 255);
                    width: 1px;
                    border-color: rgb(0, 0, 0);
                    border-width: 2px;
                }
                .link1 {
                    display: inline-block;
                    //padding-left: 1%;
                    //padding: 0 0.5rem;
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
                .link1:hover {
                    cursor: pointer;
                }
                .link3 {
                    display: inline-block;
                    font-family: Helvetica-bold;
                    font-weight: 100;
                    letter-spacing: 0.5px;
                    //padding-left: 1%;
                    padding: 0 1rem;
                    button:focus{
                        outline: 0
                    }
                    button:hover{
                        cursor: pointer;
                    }
                    button{
                        color: rgb(0, 0, 0);
                        font-family: Helvetica-bold;
                        font-weight: 100;
                        letter-spacing: 0.5px;
                        font-size: 1vw;
                        //padding-left: 1%;
                        //padding: 0 2rem;
                        background: none;
                        border: none;
                    }             
                    
                }
                .link4 {
                    display: inline-block;
                    //padding-left: 1%;
                    padding-left: 1rem;
                }
            }

    }
}
