.headerMobileBase{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    .headerScrollMobile{
        width: 100%;
        position: fixed;    //if we change position we can make the toolbar separated from the landing, use static
        background-color: #333333dc;
        height: 25%;
        top: 0;
        left: 0;
        right: 0;
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        transition: all ease-in-out .5s;
    
    }
    .headerMobileNavigation {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding-top: 4%;
        width: 100%;
        height: 80%;
        .logoMobile__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: .5rem 0;
            width: 80%;
            // background-color: brown;
            a{
                font-family: Helvetica-regular;
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 5.4vw;
            }
            .linkSeparator{
                color: rgb(255, 255, 255);
                font-size: 5.4vw;
                position: relative;
            }
            .logoMobile__top{
                width: 100%;
            }
        }
        .searchBarWrapper{
            width: 60%;
        }
    }
}

