.searchBarMobile{
    // position: absolute;
    // width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .input{

        width: 100%;
        height: 100%;
        // margin: 0vw .5vw;
        padding: 1vw 2vw;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        font-size: 3.8vw;
        box-shadow: 0px 2px 5px rgba(145, 145, 145, 0.37);
        border-color: rgba(71, 71, 71, 0.219);
    }
    .input:focus{
        outline: 0;
        box-shadow: 0px 2px 5px rgba(145, 145, 145, 0.678);
    }
    .selectors{
        display: flex;
        flex-direction: row;
        // background-color: red;
        width: 100%;
        .selector:focus{
            outline: 0;
            height: 100%;
            box-shadow: 0px 2px 5px rgba(145, 145, 145, 0.678);
        }
        .selector{
            width: 100%;
            font-size: 3.4vw;
            margin-right:1.4%;
            margin-left: 1.4%;
            margin-top: 5%;
        }
    }
    

}