.searchBar{
    position: absolute;
    width: 100%;
    // background-color: red;
    display: flex;
    align-items: center;
    .input{

        width: 60%;
        height: 100%;
        margin: 0vw .5vw;
        padding: .7vw .5vw;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        font-size: 1vw;
        box-shadow: 0px 2px 5px rgba(145, 145, 145, 0.37);
        border-color: rgba(71, 71, 71, 0.219);
    }
    .input:focus{
        outline: 0;
        box-shadow: 0px 2px 5px rgba(145, 145, 145, 0.678);
    }
    .selectorHair:focus{
        outline: 0;
        height: 100%;
        box-shadow: 0px 2px 5px rgba(145, 145, 145, 0.678);
    }
    .selectorHair{
        width: 20%;
        font-size: 1vw;
        margin-right:1.4%;
    }

}