.homeScreenMobile{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    // overflow-x: hidden;
    
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    .homeMobileHeader{
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        // margin-top: 25%;
        width: 90%;
        height: 90%;
        // background-color: red;
        -webkit-backface-visibility: hidden;
        -webkit-transition: 1s ease-in-out;
        .loadMoreLess{
            position: relative;
            background-color: red;
            margin-bottom: 2%;
            width: 100%;
            // height: 25px;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            button{
                position: absolute;
                height: fit-content;
                margin-left: 1%;
                margin-right: 1%;
                font-size: 3vw;
                border-radius: 5px;
                color: white;
                background-color: rgba(0, 0, 0, 0.623);
                padding: 1.7vw 2vw;
                box-shadow: 0px 2px 5px rgba(71, 71, 71, 0.541);
            }
            button:focus{
                outline: 0;
            }
            button:hover{
                cursor: pointer;
            }
        }
        .elementsWrapper {
            overflow-y: scroll;
            margin-right: auto;
            margin-left: auto;
            // margin-top: 14%;       
            margin-bottom: auto;         
            width: 100%;
            height: 95%;
            text-align: center;
            .elements{
                padding-top: 65%;
                right: 0;
                left: 0;
                margin-right: auto;
                margin-left: auto;
                display: block;
                height: 100%;
                width: 95%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                .infoCard{
                    border-radius: 10px;
                    position: absolute;
                    margin-bottom: 8%;
                    min-height: fit-content;
                    width: 100%;
                    height: fit-content;
                    align-content: center;
                    text-align: center;
                    background-size: cover;
                    position: relative;
                    background-size: cover;
                    background-color: white;
                    box-shadow: 0px 2px 5px rgba(71, 71, 71, 0.541);
                    .physicalInfo{
                        display: flex;
                        flex-direction: row;
                        padding: 5vw 4vw;
                        justify-content: space-between;
                        font-family: Helvetica-light;
                        .imageContainer{
                            position: absolute;
                            right: 0;
                            top: 0;
                            padding: 4vw 4vw;
                            width: 110px;
                            height: 110px;
                            // overflow: hidden;
                            // padding: .3vw .3vw;
                            img{
                                box-shadow: 0px 2px 5px rgba(71, 71, 71, 0.541);
                                // position: absolute;
                                // width: 20%;
                                border-radius: 50%;
                                max-width: 100%;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                background-position: 50% 50%;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                        }
                        .infoContainer{
                            // background-color: red;
                            max-width: 60%;
                            .infoElement{
                                width: 100%;
                                padding-bottom: .3vw;
                                border-bottom-color: rgba(70, 70, 70, 0.342);
                                border-bottom-style: solid;
                                border-bottom-width: 1px;
                                font-size: 3.8vw;
                                margin-right: 5%;
                                #bold{
                                    font-family: Helvetica-regular;
                                }
                            }
                            display: flex;
                            flex-direction: column;
                            text-align: left;
                            
                        }
                    }
                    .additionalInfo{
                        padding: 1vw 4vw;
                        display: flex;
                        flex-direction: column;
                        font-family: Helvetica-light;
                        .professionalInfo{
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 5%;
                            padding-bottom: .5vw;
                            border-bottom-color: rgba(70, 70, 70, 0.342);
                            border-bottom-style: solid;
                            border-bottom-width: 1px;
                            .professionalInfoContent{
                                text-align: right;
                                font-weight: 600;
                                width: 80%;
                                padding-left: 2%;
                            }
                        }
                        .socialInfo{
                            // background-color: red;
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 5%;
                            padding-bottom: .5vw;
                            border-bottom-color: rgba(70, 70, 70, 0.342);
                            border-bottom-style: solid;
                            border-bottom-width: 1px;
                            // justify-content: space-between;
                            .socialInfoContent{
                                text-align: right;
                                font-weight: 600;
                                width: 80%;
                                padding-left: 2%;
                            }
                        }
                    }
                }
                
            }
            .noInhabitants{
                position: absolute;
                font-size: 5vw;
                font-family: Helvetica-light;
                width: 80%;
                height: 10%;
                overflow: hidden;
            }
        }

        
    }
}