.home{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.homeHeader{
    width: 100%;
    height: 95%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: 1s ease-in-out;
    background-color: rgba(243, 243, 243, 0.589);
   
    .elementsWrapper {
        overflow-y: scroll;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10%;       
        margin-bottom: auto;         
        width: 100%;
        height: 75%;
        text-align: center;
        display: flex;
        flex-direction: column;
        .loadMoreLess{
            // background-color: red;
            margin-bottom: 2%;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            button{
                margin-left: 1%;
                margin-right: 1%;
                font-size: 1vw;
                border-radius: 5px;
                color: white;
                background-color: rgba(0, 0, 0, 0.623);
                padding: .7vw 1vw;
                box-shadow: 0px 2px 5px rgba(71, 71, 71, 0.541);
            }
            button:focus{
                outline: 0;
            }
            button:hover{
                cursor: pointer;
            }
        }
        .elements{
            margin-top: 3%;
            right: 0;
            left: 0;
            margin-right: auto;
            margin-left: auto;
            display: block;
            height: 100%;
            width: 95%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .infoCard{
                border-radius: 10px;
                position: absolute;
                margin-left: 1.5%;
                margin-right: 1.5%;
                margin-bottom: 3%;
                min-height: 320px;
                width: 30%;
                height: fit-content;
                align-content: center;
                text-align: center;
                background-size: cover;
                position: relative;
                background-size: cover;
                background-color: white;
                box-shadow: 0px 2px 5px rgba(71, 71, 71, 0.541);
                .physicalInfo{
                    display: flex;
                    flex-direction: row;
                    padding: 1.8vw 2vw;
                    justify-content: space-between;
                    font-family: Helvetica-light;
                    
                    .imageContainer{
                        width: 115px;
                        height: 115px;
                        img{
                            box-shadow: 0px 2px 5px rgba(71, 71, 71, 0.541);
                            border-radius: 50%;
                            max-width: 100%;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                    .infoContainer{
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        .infoElement{
                            padding-bottom: .3vw;
                            border-bottom-color: rgba(70, 70, 70, 0.342);
                            border-bottom-style: solid;
                            border-bottom-width: 1px;
                            font-size: 1vw;
                            #bold{
                                font-family: Helvetica-regular;
                            }
                        }
                    }
                }
                .additionalInfo{
                    padding: 0 2vw;
                    display: flex;
                    flex-direction: column;
                    font-family: Helvetica-light;
                    .professionalInfo{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5%;
                        padding-bottom: .5vw;
                        border-bottom-color: rgba(70, 70, 70, 0.342);
                        border-bottom-style: solid;
                        border-bottom-width: 1px;
                        .professionalInfoContent{
                            text-align: right;
                            font-weight: 600;
                            width: 80%;
                            padding-left: 2%;
                        }
                    }
                    .socialInfo{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5%;
                        padding-bottom: .5vw;
                        border-bottom-color: rgba(70, 70, 70, 0.342);
                        border-bottom-style: solid;
                        border-bottom-width: 1px;
                        .socialInfoContent{
                            text-align: right;
                            font-weight: 600;
                            width: 80%;
                            padding-left: 2%;
                        }
                    }
                }
            }
            .noInhabitants{
                font-size: 2vw;
                font-family: Helvetica-light;
                width: 100%;
                margin-top: 5%;
                margin-bottom: 10%;
            }
        } 
 
    }
}


